{
	"TargetName" : "Alien_build",
	"Platform" : "Win32",
	"Configuration" : "Shipping",
	"BuildId" : "884de937-9eca-452e-af38-70727c6922a8",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 16,
		"PatchVersion" : 3,
		"Changelist" : 3561208,
		"CompatibleChangelist" : 3452394,
		"IsLicenseeVersion" : 0,
		"IsPromotedBuild" : 1,
		"BranchName" : "++UE4+Release-4.16"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)/Binaries/Win32/Alien_build-Win32-Shipping.exe",
			"Type" : "Executable"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Win32/Alien_build-Win32-Shipping.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(EngineDir)/Plugins/2D/Paper2D/Binaries/Win32/UE4-Paper2D-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Blendables/LightPropagationVolume/Binaries/Win32/UE4-LightPropagationVolumeRuntime-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/FacialAnimation/Binaries/Win32/UE4-FacialAnimation-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CharacterAI/Binaries/Win32/UE4-CharacterAI-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/ControlRig/Binaries/Win32/UE4-ControlRig-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/HTML5Networking/Binaries/Win32/UE4-HTML5Networking-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/Binaries/Win32/UE4-WmfMedia-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/Binaries/Win32/UE4-WmfMediaFactory-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystem/Binaries/Win32/UE4-OnlineSubsystem-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ArchVisCharacter/Binaries/Win32/UE4-ArchVisCharacter-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CableComponent/Binaries/Win32/UE4-CableComponent-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CustomMeshComponent/Binaries/Win32/UE4-CustomMeshComponent-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/GearVR/Binaries/Win32/UE4-GearVR-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/GearVR/Binaries/Win32/UE4-GearVRController-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ImmediatePhysics/Binaries/Win32/UE4-ImmediatePhysics-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/LocationServicesBPLibrary/Binaries/Win32/UE4-LocationServicesBPLibrary-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Nvidia/Ansel/Binaries/Win32/UE4-Ansel-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusInput/Binaries/Win32/UE4-OculusInput-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusLibrary/Binaries/Win32/UE4-OculusLibrary-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusRift/Binaries/Win32/UE4-OculusRift-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/PhysXVehicles/Binaries/Win32/UE4-PhysXVehicles-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ProceduralMeshComponent/Binaries/Win32/UE4-ProceduralMeshComponent-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Steam/SteamVR/Binaries/Win32/UE4-SteamVR-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Steam/SteamVR/Binaries/Win32/UE4-SteamVRController-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/WindowsMoviePlayer/Binaries/Win32/UE4-WindowsMoviePlayer-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Launch-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SlateNullRenderer-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SlateRHIRenderer-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Messaging-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SessionServices-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Core-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-InputDevice-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Analytics-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-RHI-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-CoreUObject-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Projects-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Json-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-EngineMessages-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SessionMessages-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Engine-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Renderer-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-PacketHandler-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-NetworkReplayStreaming-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AudioMixer-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ClothingSystemRuntimeInterface-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ImageWrapper-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-HeadMountedDisplay-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Advertising-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MovieSceneCapture-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-PhysXFormats-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SlateCore-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-InputCore-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Slate-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-RenderCore-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-NullDrv-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-D3D11RHI-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AppFramework-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Networking-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Sockets-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SandboxFile-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Landscape-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Foliage-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AnimGraphRuntime-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AnimationCore-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-GeometryCache-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ShaderCore-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ActorSequence-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MovieScene-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-LevelSequence-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MovieSceneTracks-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-UMG-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-HTTP-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SSL-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MaterialShaderQualitySettings-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-UtilityShaders-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AssetRegistry-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AVIWriter-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-JsonUtilities-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-StreamingPauseRendering-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MoviePlayer-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Niagara-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-VectorVM-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-NullNetworkReplayStreaming-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-HttpNetworkReplayStreaming-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-GameLiveStreaming-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-CinematicCamera-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AnalyticsET-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Navmesh-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-D3D12RHI-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-VulkanRHI-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-OpenGLDrv-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-EngineSettings-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-SynthBenchmark-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-GameplayTags-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AIModule-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-GameplayTasks-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-DatabaseSupport-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ReliabilityHandlerComponent-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-HardwareSurvey-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MediaAssets-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Media-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-MediaUtils-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-PakFile-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-Serialization-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ClothingSystemRuntime-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-XAudio2-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-AudioMixerXAudio2-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		},
		{
			"Path" : "$(EngineDir)/Binaries/Win32/UE4-ImageCore-Win32-Shipping.lib",
			"Type" : "StaticLibrary",
			"IsPrecompiled" : true
		}
	],
	"RuntimeDependencies" :
	[
		{
			"Path" : "$(ProjectDir)/Alien_build.uproject",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/2D/Paper2D/Paper2D.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Blendables/LightPropagationVolume/LightPropagationVolume.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/FacialAnimation/FacialAnimation.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CharacterAI/CharacterAI.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CodeEditor/CodeEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CodeView/CodeView.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/ControlRig/ControlRig.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/HTML5Networking/HTML5Networking.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/WmfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystem/OnlineSubsystem.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ArchVisCharacter/ArchVisCharacter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CableComponent/CableComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CustomMeshComponent/CustomMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/GearVR/GearVR.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ImmediatePhysics/ImmediatePhysics.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/LocationServicesBPLibrary/LocationServicesBPLibrary.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Nvidia/Ansel/Ansel.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusInput/OculusInput.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusLibrary/OculusLibrary.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusRift/OculusRift.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/PhysXVehicles/PhysXVehicles.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ProceduralMeshComponent/ProceduralMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Steam/SteamAudio/SteamAudio.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Steam/SteamVR/SteamVR.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/WindowsMoviePlayer/WindowsMoviePlayer.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Nvidia/Ansel/Binaries/ThirdParty/AnselSDK32.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PxFoundation_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PxFoundation_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PxPvdSDK_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PxPvdSDK_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PhysX3_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PhysX3_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PhysX3Cooking_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PhysX3Cooking_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PhysX3Common_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/PhysX3Common_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/APEX_Clothing_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/APEX_Clothing_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/APEX_Destructible_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/APEX_Destructible_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/APEX_Legacy_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/APEX_Legacy_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/ApexFramework_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/ApexFramework_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/NvCloth_x86.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win32/VS2015/NvCloth_x86.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Ogg/Win32/VS2015/libogg.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Vorbis/Win32/VS2015/libvorbis.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Vorbis/Win32/VS2015/libvorbisfile.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Oculus/OculusMobile/SDK_1_0_3/Win32/VrApiShim.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/OpenVR/OpenVRv1_0_6/Win32/openvr_api.dll",
			"Type" : "NonUFS"
		}
	]
}